/* Define Basic Variables*/

:root {
  /* colors: accent, neutral, primary */
  --clr-accent-500: hsl(12, 88%, 50%);
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(228, 39%, 23%);
  --clr-primary-900: hsl(233, 12%, 13%);

  --clr-neutral-100: hsl(0, 0%, 98%);
  --clr-neutral-200: hsl(227, 12%, 61%);
  --clr-neutral-900: hsl(240, 12%, 13%);

  /* font-family */
  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  /* font-weight */
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  /* customize a compatible font-size solution */
  /* checkout the desktop and mobile design's font size difference */
  --fs-100: 0.8125rem; /* 13px */
  --fs-200: 1rem; /* 16px */
  --fs-300: 1.125rem; /* 18px */
  --fs-400: 1.875rem; /* 30px */
  --fs-500: 2.5rem; /* 40px */
  --fs-600: 3.75rem; /* 60px */
  --fs-700: 5rem; /* 80px */
  --fs-800: 6.25rem; /* 100px */
  --fs-900: 7rem; /* 112px */

  /* based on mobile size */
  --fs-heading-banner: var(--fs-500);
  --fs-heading-primary: var(--fs-500);
  --fs-heading-secondary: var(--fs-400);
  --fs-nav: var(--fs-300);
  --fs-body: var(--fs-200);
  --fs-button: var(--fs-100);
}

/* desktop specify size */
@media (min-width: 50em) {
  :root {
    /* rewrite font size */
    --fs-400: 2.375rem; /* 38px */
    --fs-500: 4rem; /* 64px */

    --fs-heading-primary: var(--fs-500);
    --fs-heading-secondary: var(--fs-400);
  }
}

/* Utility Classes */

/* text colors */
.text-accent-400 {
  color: var(--clr-accent-400);
}
.text-accent-100 {
  color: var(--clr-accent-100);
}
.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-primary-900 {
  color: var(--clr-primary-900);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-200 {
  color: var(--clr-neutral-200);
}

/* background colors */
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-100 {
  background-color: var(--clr-accent-100);
}
.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-primary-900 {
  background-color: var(--clr-primary-900);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

/* font sizes */
.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}

.text-heading-banner {
  font-size: var(--fs-heading-banner);
}
.text-heading-primary {
  font-size: var(--fs-heading-primary);
  font-weight: var(--fw-bold);
}
.text-heading-secondary {
  font-size: var(--fs-heading-secondary);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  color: var(--clr-primary-400);
}
.text-nav {
  font-size: var(--fs-nav);
}
.text-body {
  font-size: var(--fs-body);
}
.text-button {
  font-size: var(--fs-button);
}

/* gap height between blocks */
.padding-block-400 {
  padding-block: var(--fs-400);
}
.padding-block-500 {
  padding-block: var(--fs-500);
}
.padding-block-600 {
  padding-block: var(--fs-600);
}
.padding-block-700 {
  padding-block: var(--fs-700);
}
.padding-block-800 {
  padding-block: var(--fs-800);
}
.padding-block-900 {
  padding-block: var(--fs-900);
}

/* font weight */
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */

.sr-only:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.slider {
  display: flex;
}

.slider > * {
  width: 100%;
  flex: 0 0 auto;
}
.button {
  cursor: pointer;
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
  color: var(--clr-accent-100);
  background-color: var(--clr-accent-400);
  border: none;
  border-radius: 50lh;
  padding: var(--fs-100) var(--fs-400);
  box-shadow: 0rem 1rem 1rem -1rem var(--clr-neutral-200);
}
.button:is(:hover, :active) {
  background-color: var(--clr-accent-500);
}

.button[data-type="inbox"] {
  color: var(--clr-accent-400);
  background-color: var(--clr-neutral-100);
  box-shadow: 0rem 1rem 1rem -1rem var(--clr-accent-500);
}

.button[data-type="inbox"]:is(:hover, :active) {
  background-color: var(--clr-accent-100);
}

/* regular styling */

/* --- Overall framework scaling --- */

/* Step 1: Setting root font size, for rem base */
/*! setting root font size is extremely important  */
html,
body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-body);
}

/* Step 2: Setting scalable page width */
.container {
  --max-width: 1100px;
  --padding: 1rem;

  width: min(var(--max-width), 100vw - (var(--padding) * 2));
  margin-inline: auto;
}

/* Step 3: Setting Desktop(row) -> Mobile(column) transition by grid layout */

@media screen and (max-width: 50em) {
  .even-columns {
    display: flex;
    flex-direction: column;
  }
  .flex-column-reverse-sm {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 50em) {
  .even-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .introduction .even-columns > *,
  .further-information .even-columns > * {
    flex: 1;
  }
}
/* --- End: overall framework scaling --- */

/* --- Components --- */

/* button: [Get Started] */

/* --- Header Styling --- */

.primary-header {
  padding-block: var(--fs-400);
  text-align: center;
}
.primary-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}

/* mobile */
@media screen and (max-width: 50em) {
  .display-sm-none {
    display: none;
  }
  .mobiile-nav-toggle {
    position: fixed;
    z-index: 12;
    display: block;
    top: 2rem;
    right: 2rem;
  }
  .header-logo {
    flex: 1;
  }
  .primary-navigation {
    position: fixed;
    z-index: 10;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      160deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.9)
    );
  }
  .nav-list {
    width: calc(100% - 4rem);
    background-color: var(--clr-neutral-100);
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding-block: 2rem;
    margin-top: 4.8rem;
    font-weight: var(--fw-bold);
    border-radius: 0.4rem;
  }

  #primary-navigation {
    display: none;
  }
  #primary-navigation[data-visible] {
    display: block;
  }

  .primary-header[aria-expanded="true"] .icon-menu,
  .primary-header[aria-expanded="false"] .icon-close {
    display: none;
  }
}
/* desktop */
@media screen and (min-width: 50em) {
  .mobiile-nav-toggle {
    display: none;
  }
  .primary-navigation .nav-list {
    display: flex;
    gap: clamp(1rem, 3.5vw, 6rem);
    font-size: var(--fs-100);
  }
}

.primary-navigation a:is(:hover, :active) {
  color: var(--clr-accent-400);
}

/* --- end: Header Styling --- */

/* --- Main Styling --- */
.introduction p {
  line-height: 2;
  padding-block: 1.8rem;
}

.introduction h1 {
  line-height: 1.2;
}

.further-information {
  margin-top: var(--fs-700);
}

.further-question h2 {
  line-height: 1.2;
}
.further-question p {
  /* max-width: 34ch; */
  line-height: 2;
}

@media screen and (min-width: 50em) {
  .introduction p,
  .further-information p {
    max-width: 35ch;
  }
  .further-question {
    margin-right: 8rem;
  }
}

@media screen and (max-width: 50em) {
  .further-information h2 {
    padding-inline: 3rem;
  }
  .introduction p,
  .further-question p {
    padding-inline: 1.5rem;
  }

  .introduction,
  .further-information .flow {
    text-align: center;
  }

  .flow-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .numbered-items h3 {
    background: var(--clr-accent-100);
  }
  .numbered-items p {
    padding-block: 0.6rem;
  }
}

.numbered-items {
  counter-reset: count;
}

.numbered-items li {
  padding-block-end: 1.4rem;
  counter-increment: count;
  font-size: 0.912rem;
  line-height: 1.5;
}

.numbered-items h3 {
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
}
.numbered-items h3::before {
  content: "0" counter(count);
  background-color: var(--clr-accent-400);
  color: var(--clr-accent-100);
  border-radius: 50lvh;
  padding-inline: 1.2rem;
  margin-right: 0.2rem;
  display: inline-block;
}

/* desktop list sequence */
@media screen and (min-width: 50em) {
  .numbered-items h3 {
    position: relative;
    line-height: 2;
  }
  .numbered-items h3::before {
    position: absolute;
    left: -5rem;
  }
  .numbered-items p {
    max-width: 45ch;
  }
}
/* mobile list sequence */
@media screen and (max-width: 50em) {
  .numbered-items {
    margin-inline: auto;
  }
  .numbered-items h3 {
    height: var(--fs-500);
    line-height: var(--fs-500);
    border-radius: 50lvh 0 0 50lvh;
  }
  .numbered-items p {
    line-height: 2;
  }
}

/* cta */

.cta {
  padding-block: 3rem;
  color: var(--clr-neutral-100);
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  background: var(--clr-accent-400)
    url(../images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-position: 15rem -9rem;
}

.cta h2 {
  max-width: 24ch;
}

.flow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 50em) {
  .cta {
    padding-block: 5.6rem;
    font-size: var(--fs-400);
    text-align: center;
  }

  .cta .even-columns {
    align-items: center;
    justify-content: center;
  }

  .cta {
    background: var(--clr-accent-400)
      url(../images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0 3rem;
  }
  .cta h2 {
    margin-bottom: 1.8rem;
    font-size: var(--fs-500);
  }
}
/* --- end: Main Styling --- */

/* --- Footer Styling --- */

footer {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-size: var(--fs-100);
}
.footer-search form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-search form > * {
  margin-inline: 0.2rem;
  height: 2.5rem;
}
.footer-search input {
  flex: 1;
  min-width: 10rem;
  max-width: 25rem;
  padding-inline: 1rem;
  border-radius: 50dvh;
  border: none;
  color: var(--clr-neutral-900);
  font-size: var(--fs-100);
}
.footer-search button {
  box-shadow: none;
  padding-block: 0;
}
.footer-search input:is(:focus, :active, :focus-visible) {
  border: none;
}

.footer-nav {
  columns: 2;
  font-size: var(--fs-200);
  color: var(--clr-neutral-100);
  font-weight: 200;
}
.footer-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5;
}
.footer-nav li {
  min-width: 15ch;
}
.footer-nav a:is(:hover, :focus) {
  color: var(--clr-accent-400);
}

.footer-medias ul {
  display: flex;
  gap: clamp(1rem, 8vw, 4rem);
  justify-content: center;
}

.social-icon {
  width: 2rem;
  fill: var(--clr-neutral-100);
}

.social-icon:is(:hover, :focus) {
  fill: var(--clr-accent-400);
}

.footer-medias a {
  display: block;
  --icon-color: var(--clr-neutral-100);
}

.footer-medias svg:is(:hover, :focus) {
  --icon-color: var(--clr-accent-400);
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.svg-logo {
  --text-color: var(--clr-neutral-100);
  --icon-color: var(--clr-accent-500);
}
.svg-logo:is(:focus, :hover) {
  --text-color: var(--clr-neutral-200);
  --icon-color: var(--clr-accent-400);
}

.footer-description {
  text-align: center;
  color: var(--clr-neutral-200);
  padding-bottom: 3rem;
}

@media screen and (min-width: 50em) {
  .footer {
    display: grid;
    grid-template-areas:
      "logo nav search"
      "medias nav description";
    grid-template-columns: 2fr 4fr 3fr;
    padding-top: 1rem;
  }
  .footer-nav {
    grid-area: nav;
    margin-block: auto;
  }
  .footer-search {
    grid-area: search;
    margin-top: 3rem;
  }
  .footer-logo {
    grid-area: logo;
    margin-top: 3rem;
  }
  .footer-description {
    grid-area: description;
    margin-top: auto;
    margin-bottom: 1.2rem;
    text-align: end;
  }
  .footer-medias {
    grid-area: medias;
  }
  .footer-medias ul {
    gap: 0.8rem;
  }
  .footer-medias .social-icon {
    width: 1.2rem;
  }
}

@media screen and (max-width: 50em) {
  .footer-search {
    padding: 4rem 1rem;
  }
  .footer-description {
    margin-top: 3rem;
  }
  .footer-nav {
    padding-inline: 2rem;
  }
}

/* --- end: Footer Styling --- */

/* --- Slider Styling --- */

/* 
<ul class="slider">
  <h2>What they've said</h2>
  <li>
    <div class="review-content">
      <h3>Anisha Li</h3>
      <img
        src="src/images/avatar-anisha.png"
        alt="Anisha Li's avatar"
      />
      <p>
        “Manage has supercharged our team’s workflow. The ability to
        maintain visibility on larger milestones at all times keeps
        everyone motivated.”
      </p>
    </div>
  </li>
</ul>
*/
.reviews {
  margin-bottom: 3rem;
  text-align: center;
}
.reviews h2 {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  text-align: center;
  color: var(--clr-primary-900);
  margin-block: var(--fs-500);
}

.review-content {
  position: relative;
  margin-top: 3rem;
  padding: 5rem 2rem 3rem;
  background: hsl(0, 0%, 96%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-inline: 1rem;
}
.review-content > img {
  width: 5rem;
  position: absolute;
  top: -7.4rem;
  transform: translateY(100%);
}
.review-content > h3 {
  transform: translateY(-75%);
  font-weight: var(--fw-semi-bold);
}
.review-content > p {
  color: var(--clr-neutral-200);
}

.reviews .button {
  margin-top: 3rem;
}

.slider {
  display: flex;
}

.slider > * {
  width: 100%;
  flex: 0 0 auto;
  list-style: none;
  margin-inline: 2rem;
}

@media (min-width: 50em) {
}

.a11y-slider-autoplay {
  display: none;
}

.a11y-slider-dots {
  display: flex;
  list-style: none;
  gap: 0.3rem;
  justify-content: center;
  margin-top: 1rem;
}

.a11y-slider-dots .slider-number {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--clr-accent-400);
}
.a11y-slider-dots .slider-number.active {
  background-color: var(--clr-accent-400);
}
/* .a11y-slider-container button:is(.a11y-slider-prev, .a11y-slider-next) {
  display: none;
} */
/* --- end: Slider Styling --- */
